body{
    margin: 0;
}
header{
    background-color: dodgerblue; 
    height: 124px;
}
#top-header{
    color: white;
    background-color: green;
    /* height: 80px; */
    padding: 20px 40px;
    display: flex;
    align-items: center;
}
.child-header{
    display: inline-block;
}
#logo{
    width: 15% ;
    margin-right: 45px;
}
#logo img{
    width: 100%;
}
#search{
    width: 55% ;
    display: flex;
}
#search select{
    padding: 7px 10px;
    border: 3px solid orange;
    border-right: 1px solid #ccc;
    border-radius: 20px 0 0 20px;
}
#search input{
    width: 60%;
    border: none;
    border-top: 3px solid orange;
    border-bottom: 3px solid orange;
    padding: 7px 10px;
}
#search button{
    padding:10px;
    background: orange;
    border: none;
    color: white;
    border-radius: 0 20px 20px 0;
    width: 17%;
}
#icons{
    width: 25%;
}

#bottom-header{
    background-color: gold;
    height: 44px;
}
main{
    background-color: pink; 
    height: 800px;
}
footer{
    background-color: gray; 
    height: 300px;
}