header{
    background-color: white; 
    height: 200px;
    color: white; 

}

#top-header{
   background-color: #131921; 
   padding: 20px 40px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.childheader{            
    /* display:inline-block ; */
}
.thhover:hover{
    color: orange;    
    border:solid white 1px;
}
#logo{

    
}
#search{
    display: flex;
    align-items: center;
    padding: 0 10px;
}
#search button{
    border: 3px solid orange;
    border-left:1px solid orange;
    border-radius: 0 5px 5px 0;
    width: 40px;
    height: 42px;
    padding: 0;
}
#search button img{
    width: 100%;
    height: 100%;
}
#select{
    background-color: lightgray;
/* position: absolute; */
    padding: 10px;
    border: none;
    border: 3px solid orange;
    border-right: 1px solid lightgray;
    border-radius: 5px 0 0 5px;
    width: 40px;
    /* height: 38px; */
}
#textheader{
    /* height: 38px; */
    width : 813px;
    border: none;
    border-top: 3px solid orange;
    border-bottom:3px  solid orange;
    padding: 10px
}

#icons{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#signin{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.orders{
    width: 40px;
    height: 40px;
    background-image: url("icons/alibabaPic.png");
    background-position: -10px -180px;
}
#cart{
    font-size: 25pt;
}


#bottom-header{
    background-color: #232f3e; 
    display: flex;
    justify-content: space-between;
    align-content: center; 
    padding: 0 20px;
}
.left-bh{
    display: flex;
    justify-content: center;
    align-items: center;

}
.category{
    /* border-right: solid gray; */
    /* padding: 10px 20px; */
    /* margin-left: 10px; */
}
nav{
    border-left: solid gray;
    padding-left:10px 20px;
}
.nav-link{
    text-decoration:none ;
    color: white;
    padding:10px 20px

}
.nav-link:hover{
    color: orange;    
    border:solid white 1pt;
}

.category:hover{
    color: orange;    
    border:solid white;
}
.right-bh{
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}.right-bh:hover{
    color: orange;    
    border:solid white 1px;
}
main{
    background-color: white;
    height: 800px;
    padding: 10px 70px;
}
ul{
    list-style: none;
}
.icon-cat{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: lightsalmon;
    border-radius: 50%;    
    /* font-size: 18pt; */
}
.category-list{
    padding: 0px;
}
.category-list li{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.category-list li div{
    display: flex;
    align-items: center;
    padding:10px;
    /* justify-content: space-between; */
}
.category-list li div span:nth-child(2){
    margin-left: 10px;
}

body{
    margin: 0;
}

footer{
    background-color: white;
    height: 300px;
    color: white;

}
#top-footer{
   background-color: #37475a; 
}
#middle-footer{
   background-color: #232f3e; 
}
#bottom-footer{
   background-color: #131a22; 
}