
@import url("font-style.css");

*{
    font-family: "mojgan";
}

header{
    background-color: white; 
    height: 15%;
    color: white; 
    position: fixed;
    width: 100%;
    z-index: 500;
}

#top-header{
   background-color: #7b96ba; 
   background-image: linear-gradient(to right, rgb(12, 91, 164) , rgb(233, 237, 253));
   padding: 20px 40px;
   display: flex;
   align-items: center;
   justify-content: space-between;

}
#top-header a{
    cursor: pointer;
    border: 0;
    text-decoration: none;
    color: #0555b7;
}

.thhover{
    width: 150px;
    height: 100px;
}
.thhover:hover{
    color: orange;    
    border:solid white 1px;
}

#search{
    display: flex;
    align-items: center;
    padding: 0 10px;

}
#search button{
    border: 3px solid orange;
    border-left:1px solid orange;
    border-radius: 0 5px 5px 0;
    width: 40px;
    height: 42px;
    padding: 0;
    transition: all 20s;
}
#search:hover button{
    cursor: pointer;
    background-color: burlywood;

}
#search button img{
    width: 100%;
    height: 100%;

}
#select{
    background-color: lightgray;
/* position: absolute; */
    padding: 10px;
    border: none;
    border: 3px solid orange;
    border-right: 1px solid lightgray;
    border-radius: 5px 0 0 5px;
    width: 40px;
    /* height: 38px; */
}
#textheader{
    /* height: 38px; */
    width : 813px;
    border: none;
    border-top: 3px solid orange;
    border-bottom:3px  solid orange;
    padding: 10px
}

#icons{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#signin{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 20px; 
    color: #0555b7;   
}

#signinfont{
    font-size: 40px;
}

#Myorders{
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #0555b7; 
}
#Myordersfont{
    font-size: 40px;
    margin-right: 5px;

}
#cart{    
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #0555b7; 
}
#cartfont{    
    font-size: 25pt;
    margin-right: 5px;
   
}


#bottom-header{
    background-color: #232f3e; 
    display: flex;
    justify-content: space-between;
    align-content: center; 
    padding: 0 20px;
}
.left-bh{
    display: flex;
    justify-content: center;
    align-items: center;

}

nav{
    border-left: solid gray;
    padding-left:10px 20px;
}
.nav-link{
    text-decoration:none ;
    color: white;
    padding:10px 20px

}
.nav-link:hover{
    color: orange;    
    border:solid white 1pt;
}

.category:hover{
    color: orange;
    border:solid white 1px;    
}
.category{
    width:150px;  
    transition: all 2s;  
}

.category:hover .allcategory{
    display: block;
    background-color: #232f3e;
}
.allcategory{
    display: none;
    position: absolute;
    top: 25 px;  
}

.category-link{
    text-decoration:none ;
    color: white;
    display: block;
    transition: all 2s;
}
.category-link:hover{
    color: orange; 
    border:solid white 1px;    
}

.right-bh{
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}.right-bh:hover{
    color: orange;    
    border:solid white 1px;
}
.category-banner{
    display: flex;
    padding: 20px ;
    /* background-color: white; */
    margin-top: 185px;
}
.left-m{
    text-decoration:none ;
    color: black;
    display: block;
    margin-left: 5px;
}
.left-m:hover{
    color: orange;    
    border:solid white 1px;
}
.slider{
    width: 50%;
    position: relative;
    overflow: hidden;
}

.slide-arrow{
    font-size: 40px;
    font-weight: bolder;
    background-color: #c8c4c44d;
    color: white;
    padding: 8px 0;
    cursor: pointer;
    position: absolute;
    top: 40%;
    /* display: none; */
    /* visibility: hidden; */
    transition: all 3s;
    /* opacity: 0; */
}
.slider:hover .slide-arrow{
    /* display: inline; */
    /* visibility: visible; */
    color: #1c242e;
    /* opacity: 1; */
}

/* .preslide{
    left: 0;    
}

.nextslide{
    right: 0;   
}  */
.slider:hover .preslide{
    left :0;
    animation: changePositionLeft 1s alternate;     
}
.slider:hover .nextslide{
    right: 0;
    animation: changePositionRight 1s alternate;   
}
.slider img{
    width: 100%;
    height:300px;
}
main{
    background-color: white;
    height: 900px;
    padding: 20px;
}
ul{
    list-style: none;
}
.icon-cat{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: lightsalmon;
    border-radius: 50%;    
    /* font-size: 18pt; */
}
.slidecirclemain{
    width: 30%;
    height: 4%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.slidecircle{
    width: 5%;
    height: 68%;
    border: solid 1px ;
    border-radius: 50%;
    background-color: #6e5f5e; 
    transition: all 2s;    
}
.slidecircle:hover{
    cursor: pointer;
    background-color:rgb(253, 227, 227) ;
}
.category-list{
    padding: 0px;
}
.category-list li{
   /* width: 20%;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 5px;
}
.category-list li div{
    display: flex;
    align-items: center;
    padding:10px;
    /* justify-content: space-between; */
}
.category-list li div span:nth-child(2){
    margin-left: 10px;
}
.deals{
    width: 27%;
    padding: 5px 20px;
}

.deals h3{
    margin-left: 40%;
    font-size: larger;

}
.deals:hover h3{
    transform: scale(1.5,1.5);
}
.deals img{
    margin-left: 20%;

}
.deals:hover {
    cursor: pointer;
    color: orange;
    /* transform: rotate(5deg); */
    transform: skew(-10deg);
    /* transform: scale(2,3); */
}
.share{
    font-size: 30px;
    margin-top: 350px;
    width: 35px; 
    height: 35px;
    border: solid #d0d1d1;
    background-color: #c5c5c5;
    /* visibility: hidden; */
    position: fixed;
    right: 20px;
    overflow: hidden;
    transition: width 0.7s;
}

.share:hover{
  width: 200px;
  display: inline-block;
  /* visibility: visible; */
}
.m-share{
    /* visibility: visible; */
    border: solid #d0d1d1;
    background-color: #c5c5c5;
}
.m-facebook-squared:hover{
    cursor: pointer;
    color: rgb(5, 128, 252); 
}
.m-twitter:hover{
    cursor: pointer;
    color: rgb(5, 128, 252); 
}
.m-gplus-circled:hover{
    cursor: pointer;
    color: rgb(5, 128, 252); 
}
.m-instagram:hover{
    cursor: pointer;
    color:rgb(5, 128, 252); 
}

body{
    margin: 0;
}

footer{
    background-color: #37475a; ;
    height: 300px;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
}
dt{
    margin-left: 50px;
    font-size: 18px;
    font-weight:bold ;
    margin-bottom: 15px;
}
dd{
    margin-left: 80px; 
    font-size: 15px;
    margin-bottom: 5px;
}
dd a{
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: 0;
    text-decoration: none;
    transition: all .5s;
}
dd:hover a{
    color: rgb(20, 169, 255);
    font-style: italic;
}
#left-footer{


}
 #middle-footer{

}
#right-footer{

} 
@keyframes changePositionLeft {
    from{ left:-30px;}
    to{left:0;}
}
@keyframes changePositionRight {
    from{ right:-30px;}
    to{right:0;}
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #top-header{ 
        padding: 15px;
        flex-wrap: wrap;
     }  
     #search{
         order: 2;
         width: 100%;
     } 
     #icons{
        width: 70%;
        font-size: 22px;
    }
    #bottom-header{
        padding: 0 ;
        font-size: 22px;
    }
    main{
        padding: 80px 10px;
        height: 500px;
        overflow-x: scroll;
    }
    .slider {
        visibility: hidden;        
        }
    footer{
        background-color: #37475a; ;
        height: 300px;
        width: 100%;
        padding-left: 0px;
        overflow-x: scroll;
        }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (mmax-width: 768px) {
    #top-header{ 
        padding: 15px;
        flex-wrap: wrap;
     }  
     #search{
         order: 2;
         width: 100%;
     } 
     #icons{
        width: 70%;
        font-size: 22px;
    }
    #bottom-header{
        padding: 0 ;
        font-size: 22px;
    }
    main{
        padding: 80px 10px;
        height: 500px;
        overflow-x: scroll;
    }
    .slider {
        visibility: hidden;        
        }
    footer{
        background-color: #37475a; ;
        height: 300px;
        width: 100%;
        padding-left: 0px;
        overflow-x: scroll;
        }   
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}