header{
    background-color: white; 
    height: 15%;
    color: white; 
    position: fixed;
    width: 100%;
}

#top-header{
   background-color: #131921; 
   padding: 20px 40px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.thhover:hover{
    color: orange;    
    border:solid white 1px;
}

#search{
    display: flex;
    align-items: center;
    padding: 0 10px;

}
#search button{
    border: 3px solid orange;
    border-left:1px solid orange;
    border-radius: 0 5px 5px 0;
    width: 40px;
    height: 42px;
    padding: 0;
}
#search button img{
    width: 100%;
    height: 100%;
}
#select{
    background-color: lightgray;
/* position: absolute; */
    padding: 10px;
    border: none;
    border: 3px solid orange;
    border-right: 1px solid lightgray;
    border-radius: 5px 0 0 5px;
    width: 40px;
    /* height: 38px; */
}
#textheader{
    /* height: 38px; */
    width : 813px;
    border: none;
    border-top: 3px solid orange;
    border-bottom:3px  solid orange;
    padding: 10px
}

#icons{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#signin{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 20px;    
}
#signinfont{
    font-size: 40px;
}

#Myorders{
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}
#Myordersfont{
    font-size: 40px;
    margin-right: 5px;
}
#cart{
    
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#cartfont{    
    font-size: 25pt;
    margin-right: 5px;
}


#bottom-header{
    background-color: #232f3e; 
    display: flex;
    justify-content: space-between;
    align-content: center; 
    padding: 0 20px;
}
.left-bh{
    display: flex;
    justify-content: center;
    align-items: center;

}

nav{
    border-left: solid gray;
    padding-left:10px 20px;
}
.nav-link{
    text-decoration:none ;
    color: white;
    padding:10px 20px

}
.nav-link:hover{
    color: orange;    
    border:solid white 1pt;
}

.category:hover{
    color: orange;    
}
.category{
    width:150px;    
}

.category:hover .allcategory{
    display: block;
    background-color: #232f3e;
}
.allcategory{
    display: none;
    position: absolute;
    top: 25 px;  
}

.category-link{
    text-decoration:none ;
    color: white;
    display: block;
}
.category-link:hover{
    color: orange;     
}

.right-bh{
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}.right-bh:hover{
    color: orange;    
    border:solid white 1px;
}
.category-banner{
    display: flex;
    /*padding: 20px */;
    background-color: white;
    margin-top: 135px;
}
.slider{
    width: 50%;
}
.slider img{
    width: 100%;
    height:300px;
}
main{
    background-color: #edf7fb;
    height: 800px;
    padding: 10px 70px;
}
ul{
    list-style: none;
}
.icon-cat{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: lightsalmon;
    border-radius: 50%;    
    /* font-size: 18pt; */
}
.category-list{
    padding: 0px;
}
.category-list li{
   /* width: 20%;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 5px;
}
.category-list li div{
    display: flex;
    align-items: center;
    padding:10px;
    /* justify-content: space-between; */
}
.category-list li div span:nth-child(2){
    margin-left: 10px;
}

body{
    margin: 0;
}

footer{
    background-color: white;
    height: 300px;
    color: white;

}
#top-footer{
   background-color: #37475a; 
}
#middle-footer{
   background-color: #232f3e; 
}
#bottom-footer{
   background-color: #131a22; 
}