@charset "UTF-8";

@font-face {
  font-family: "mojgan";
  src:url("fonts/mojgan.eot");
  src:url("fonts/mojgan.eot?#iefix") format("embedded-opentype"),
    url("fonts/mojgan.woff") format("woff"),
    url("fonts/mojgan.ttf") format("truetype"),
    url("fonts/mojgan.svg#mojgan") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "mojgan" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="m-"]:before,
[class*=" m-"]:before {
  font-family: "mojgan" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.m-arrow-left:before {
  content: "\61";
}
.m-arrow-right:before {
  content: "\62";
}
.m-commenting:before {
  content: "\63";
}
.m-chevron-up:before {
  content: "\64";
}
.m-chevron-right:before {
  content: "\65";
}
.m-chevron-left:before {
  content: "\66";
}
.m-chevron-down:before {
  content: "\67";
}
.m-user:before {
  content: "\68";
}
.m-user-1:before {
  content: "\69";
}
.m-cart-plus:before {
  content: "\6a";
}
.m-bars:before {
  content: "\6b";
}
.m-reorder-square-line:before {
  content: "\6c";
}
.m-reorder-square:before {
  content: "\6d";
}
.m-list:before {
  content: "\6e";
}
.m-thumbnails-large:before {
  content: "\6f";
}
.m-location:before {
  content: "\70";
}
.m-pin-map:before {
  content: "\71";
}
.m-search:before {
  content: "\72";
}
.m-search-1:before {
  content: "\73";
}
.m-home-1:before {
  content: "\74";
}
.m-home:before {
  content: "\75";
}
.m-home-house-streamline:before {
  content: "\76";
}
.m-angle-right:before {
  content: "\77";
}
.m-angle-left:before {
  content: "\78";
}
.m-angle-up:before {
  content: "\79";
}
.m-angle-down:before {
  content: "\7a";
}
