@charset "UTF-8";

@font-face {
  font-family: "mojgan";
  src:url("fonts/mojgan.eot");
  src:url("fonts/mojgan.eot?#iefix") format("embedded-opentype"),
    url("fonts/mojgan.woff") format("woff"),
    url("fonts/mojgan.ttf") format("truetype"),
    url("fonts/mojgan.svg#mojgan") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "mojgan" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="m-"]:before,
[class*=" m-"]:before {
  font-family: "mojgan" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.m-arrow-left:before {
  content: "\e000";
}
.m-arrow-right:before {
  content: "\e001";
}
.m-commenting:before {
  content: "\e002";
}
.m-chevron-up:before {
  content: "\e003";
}
.m-chevron-right:before {
  content: "\e004";
}
.m-chevron-left:before {
  content: "\e005";
}
.m-chevron-down:before {
  content: "\e006";
}
.m-user:before {
  content: "\e007";
}
.m-user-1:before {
  content: "\e008";
}
.m-cart-plus:before {
  content: "\e009";
}
.m-bars:before {
  content: "\e00a";
}
.m-reorder-square-line:before {
  content: "\e00b";
}
.m-reorder-square:before {
  content: "\e00c";
}
.m-list:before {
  content: "\e00d";
}
.m-thumbnails-large:before {
  content: "\e00e";
}
.m-location:before {
  content: "\e00f";
}
.m-pin-map:before {
  content: "\e010";
}
.m-search:before {
  content: "\e011";
}
.m-search-1:before {
  content: "\e012";
}
.m-home-1:before {
  content: "\e013";
}
.m-home:before {
  content: "\e014";
}
.m-home-house-streamline:before {
  content: "\e015";
}
.m-angle-right:before {
  content: "\e016";
}
.m-angle-left:before {
  content: "\e017";
}
.m-angle-up:before {
  content: "\e018";
}
.m-angle-down:before {
  content: "\e019";
}
.m-users-outline:before {
  content: "\e01a";
}
.m-sort:before {
  content: "\e01b";
}
.m-ios-pricetags-outline:before {
  content: "\e01c";
}
.m-money:before {
  content: "\e01d";
}
.m-circle:before {
  content: "\e01e";
}
.m-circle-stroked:before {
  content: "\e01f";
}
.m-share:before {
  content: "\e020";
}
.m-facebook-squared:before {
  content: "\e021";
}
.m-twitter:before {
  content: "\e022";
}
.m-gplus-circled:before {
  content: "\e023";
}
.m-linked-in:before {
  content: "\e024";
}
.m-instagram:before {
  content: "\e025";
}
